KHỞI TẠO DỮ LIỆU

In [3]:
import pandas as pd
import numpy as np

df_owner = pd.read_csv('owner_info_sach.csv')
df_vehicle = pd.read_csv('vehicle_registration_sach.csv')
df_emission = pd.read_csv('emission_test_sach.csv')

df_reg_owner = pd.merge(df_vehicle, df_owner, on='owner_id', how='left')
analysis_df = pd.merge(df_reg_owner, df_emission, on='plate_no', how='inner')

 Tạo pivot thể hiện nồng độ CO trung bình theo vehicle_type × province.

In [5]:
pivot_registration = analysis_df.pivot_table(
    index='province', 
    columns='vehicle_type', 
    values='plate_no', 
    aggfunc='nunique', 
    fill_value=0
)

print("SỐ LƯỢNG ĐĂNG KÝ THEO TỈNH X LOẠI XE")
display(pivot_registration)

SỐ LƯỢNG ĐĂNG KÝ THEO TỈNH X LOẠI XE

vehicle_type  Xe máy  Xe tải  Ô tô con
province
Bình Dương         6       1         5
Hà Nội             5       1         5
TP.HCM             5       5         2
Đà Nẵng           12      12         4

Nồng độ CO & Kỹ thuật Stack

In [7]:
# Tạo pivot nồng độ CO trung bình: vehicle_type x province
pivot_co = analysis_df.pivot_table(
    index='vehicle_type', 
    columns='province', 
    values='co_level', 
    aggfunc='mean'
).round(3)

print("BẢNG PIVOT: NỒNG ĐỘ CO TRUNG BÌNH")
display(pivot_co)

# Thực hành Stack để tạo MultiIndex
print("\nMINH HỌA STACK (Chuyển bảng rộng sang bảng sâu)")
stacked_co = pivot_co.stack()
display(stacked_co.head(10))

BẢNG PIVOT: NỒNG ĐỘ CO TRUNG BÌNH

province      Bình Dương  Hà Nội  TP.HCM  Đà Nẵng
vehicle_type
Xe máy             0.633   0.543   0.386    0.578
Xe tải             1.200   0.500   0.588    0.494
Ô tô con           0.367   0.738   0.750    0.700

MINH HỌA STACK (Chuyển bảng rộng sang bảng sâu)

vehicle_type  province
Xe máy        Bình Dương    0.633
              Hà Nội        0.543
              TP.HCM        0.386
              Đà Nẵng       0.578
Xe tải        Bình Dương    1.200
              Hà Nội        0.500
              TP.HCM        0.588
              Đà Nẵng       0.494
Ô tô con      Bình Dương    0.367
              Hà Nội        0.738
dtype: float64