KHỞI TẠO DỮ LIỆU

In [3]:
import pandas as pd
import numpy as np

df_owner = pd.read_csv('owner_info_sach.csv')
df_vehicle = pd.read_csv('vehicle_registration_sach.csv')
df_emission = pd.read_csv('emission_test_sach.csv')

df_reg_owner = pd.merge(df_vehicle, df_owner, on='owner_id', how='left')
analysis_df = pd.merge(df_reg_owner, df_emission, on='plate_no', how='inner')

 Tạo pivot thể hiện nồng độ CO trung bình theo vehicle_type × province.

In [5]:
pivot_registration = analysis_df.pivot_table(
    index='province', 
    columns='vehicle_type', 
    values='plate_no', 
    aggfunc='nunique', 
    fill_value=0
)

print("SỐ LƯỢNG ĐĂNG KÝ THEO TỈNH X LOẠI XE")
display(pivot_registration)

SỐ LƯỢNG ĐĂNG KÝ THEO TỈNH X LOẠI XE

vehicle_type  Xe máy  Xe tải  Ô tô con
province
Bình Dương         6       1         5
Hà Nội             5       1         5
TP.HCM             5       5         2
Đà Nẵng           12      12         4